<div class="jalus">
    <div>
        <footer class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="/">ESILEHT</a>
                    ·
                    <a href="/#tulevasedmatkad">TULEVASED MATKAD</a>
                    ·
                    <a href="/blogi">BLOGI</a>
                    ·
                    <a href="/kontakt">KONTAKT</a>
                </p>
                <p class="footer-company-name">Mõõgamatkad OÜ &copy; 2021</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Seikleja 1</span>Põlva</p>

                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+372 730 9876</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:info@moogamatkad.ee">info@moogamatkad.ee</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>Mõõgamatkad veebis</span>
                    Hoia meie tegevusel, uudistel ja tulevastel matkadel silma peal
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </footer>
    </div>
</div>