<div class="row pt-1">
    <div class="col-md-4 d-flex logogrupp">
        <img class="paislogo" src="/assets/klubilogo.png" alt="matkaklubi_logo">
        <div class="paisnimi">
            MÕÕGA- MATKAD
        </div>
    </div>
    <div class="col-md-8 navigrupp">
        <ul class="paisnavi">
            <li><a href="/">ESILEHT</a></li>
            <li><a href="/#tulevasedmatkad">TULEVASED MATKAD</a></li>
            <li><a href="/blogi">BLOGI</a></li>
            <li><a href="/kontakt">KONTAKT</a></li>
        </ul>
    </div>
</div>