* {
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
    text-transform: uppercase;
    font-size: small;
    font-weight: 700;
    letter-spacing: 1px;
}

.paisSektsioon {
    height: 778px;
    width: 100%;
    background: url('assets/Hills.png');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.paislogo {
    width: 80px;
    height: 78px;
    margin-left: 50px;
}

.paisnimi {
    font-weight: bolder;
    font-size: 33px;
    width: 126px;
    height: 75px;
    color: #0B0B0B;
    line-height: 35px;
    padding-top: 3px;
}

.paisnavi {
    height: 20px;
}

.logogrupp:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.navigrupp {
    justify-content: flex-end;
}

.logogrupp,
.navigrupp {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

li a {
    padding-left: 27px;
    color: #000000;
    font-weight: bold;
    font-size: 16.67px;
    letter-spacing: 2.67px;
}

li a:hover {
    color: #0062ca;
}

.rida {
    display: flex;
    text-transform: uppercase;
    margin-left: 50px;
}

.paisSekstioon-pealkirjad {
    padding-top: 140px;
}

.paisSekstioon-pealkirjad h1,
.paisSekstioon-pealkirjad h2,
.paisSekstioon-pealkirjad h3,
.paisSekstioon-pealkirjad h4 {
    font-weight: 700;
    letter-spacing: 0px;
    color: #0B0B0B;
}

.paisSekstioon-pealkirjad h2 {
    font-size: 39.57px;
    line-height: 42.74px;
}

.paisSekstioon-pealkirjad h1 {
    font-size: 74.39px;
    line-height: 91px;
}

.paisSekstioon-pealkirjad h3 {
    font-size: 20.83px;
    line-height: 29.17px;
    padding-bottom: 15px;
}

.paisSekstioon-pealkirjad h4 {
    font-size: 12.5px;
    line-height: 29.17px;
    align-items: left;
    color: #FFFFFF;
    letter-spacing: 2.25px;
    margin: auto;
}

.liblikas2 {
    width: 60px;
    height: 32px;
    margin-left: -65px;
    margin-top: -60px;
}

.liblikas1 {
    width: 75.27px;
    height: 66.04px;
    margin-top: -50px;
    margin-left: 10px;
}

.calltoaction {
    background: #0B0B0B 0% 0% no-repeat padding-box;
    width: 247px;
    height: 58px;
    border-radius: 5px;
}

.calltoaction a {
    color: #FFFFFF;
}

.calltoaction:hover {
    background: #0062ca;
}

.pealispilt {
    overflow: hidden;
}

.pealispilt .matkaline {
    width: 860px;
    height: 860px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -400px;
}

.pealispilt .vari {
    width: 800px;
    height: 86px;
    margin-top: -42px;
    margin-left: 30px;
    filter: contrast(90%);
}

.kontaktSektsioon {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-top: 50px;
padding-bottom: 20px;
margin-left: 30px;
margin-right: 30px;
}

.kontaktandmed table {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
}

table td {
    padding-left: 20px;
    padding-right: 30px;
}

.googlemap {
    margin-bottom: 30px;
}

.kontaktivorm {
    margin-top: 10px;
}

.sisu-teade {
    margin-top: 35px;
    margin-bottom: 75px;
}

.kontaktSektsioon h1 {
    font-weight: 700;
    letter-spacing: 0px;
    color: #0B0B0B;
}

.kontaktSektsioon h2 {
    font-size: 39.57px;
}

h3 {
    font-weight: 700;
    letter-spacing: 0px;
    color: #0B0B0B;
}

h5 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7c7c7c;
}

p,
td {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0px;
    color: #0B0B0B;
}  

th {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    color: #0B0B0B;
}

.matkadeSektsioon {
    margin-top: 80px;
    margin-bottom: 50px;
}

.matkadeTutvustus {
    margin-left: 50px;
    margin-right: 50px;
}

.tulevasedmatkadtutvustus {
    margin-top: 35px;
    margin-bottom: 50px;
}

.matkadKonteiner {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.matkadKonteiner .card {
    background-color: rgba(169, 169, 169, 0.452);
    padding: 10px;
}

.btn-primary {
    margin-bottom: 5px;
}

.registreerumiseVorm {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(169, 169, 169, 0.452);
    border-radius: 5px;
    border: 1px solid rgba(145, 145, 145, 0.452);
}

img.registreerumine-pilt {
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.regkontaktSektsioon {
    margin-top: 30px;
    margin-bottom: 30px;
}

.kirjeldused {
    margin-top: 30px;
    margin-bottom: 30px;
}

.osalejad {
    margin-left: 30px;
}

.osalejatelist {
    margin-left: 60px;
}

.blogiSektsioon {
    margin-top: 50px;
}

.blogiSektsioon h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 60px;
}

.uudisteKonteiner {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.uudisteKonteiner .card {
    background-color: rgba(169, 169, 169, 0.452);
    padding: 10px;
}

.uudisSektsioon {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(169, 169, 169, 0.452);
    border-radius: 5px;
    border: 1px solid rgba(145, 145, 145, 0.452);
}

.uudis-tekst {
    padding-left: 30px;
    padding-right: 30px;
}

img.uudis-pilt {
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.quote {
    background: url('assets/matkasaapad.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    justify-content: center;
}


.quotetekst {
    text-align: center;
    letter-spacing: 1.83px;
    max-width: 850px;
    padding-top: 90px;
    margin: auto;
}

.quote h5 {
    color: #FFFFFF;
    padding-bottom: 20px;
}

.quote p {
    color: #FFFFFF;
}


@media screen and (max-width: 1020px) {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li a {
        padding-left: 16px;
        color: #000000;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2px;
    }

    .paislogo {
        width: 70px;
        height: 68px;
        margin-left: 50px;
    }
    
    .paisnimi {
        font-weight: bolder;
        font-size: 26px;
        width: 126px;
        height: 75px;
        color: #0B0B0B;
        line-height: 30px;
        padding-top: 8px;
    }

    .card h3 {
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    color: #0B0B0B;
    }
}

@media screen and (min-width: 810px) {
    .paisSekstioon-pealkirjad {
        padding-top: 231px;
    }
}

@media screen and (min-width: 768px) {
    .topnav a.icon {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .topnav {
        overflow: hidden;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
      }

    .topnav a.icon {
        color: #0B0B0B;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 35px;
        margin-right: 20px;
    }

    .topnav a:hover {
        color: #0062ca;
    }

    .active {
        color: #0B0B0B;
    }

    ul {
        display: table;
        margin: 0;
        padding: 0;
    }

    li a {
        margin-left: 0px;
        color: #000000;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2px;
    }

    .paislogo {
        margin-left: 0px;
    }

    .rida {
        margin-left: 10px;
    }

    .liblikas1 {
        margin-top: -70px;
        margin-left: -50px;
    }

    .liblikas2 {
        display: none;
    }

    .kontaktSektsioon,
    .uudisteKonteiner,
    .uudisSektsioon,
    .registreerumiseVorm {
        margin-left: 0px;
        margin-right: 0px;
        }
    
        
    .blogiSektsioon h1 {
        margin-left: 10px;
    }

    .paisSekstioon-pealkirjad h1 {
        font-size: 72.39px;
        line-height: 89px;
    }

    table td {
        padding-left: 10px;
        padding-right: 10px;
    }

    .quotetekst {
        text-align: center;
        letter-spacing: 1.83px;
        max-width: 850px;
        padding-top: 40px;
        padding-right: 40px;
        padding-left: 40px;
        margin: auto;
    }

    .quote h5 {
        color: #FFFFFF;
        padding-bottom: 20px;
        font-size: 2rem;
    }
}


@media (min-width: 500px) {
    .container, .container-lg, .container-sm, .container-md, .container-xl {
        max-width: 100%;
    }
}
